<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>me.handlena.alfrednopaste</string>
	<key>category</key>
	<string>Tools</string>
	<key>connections</key>
	<dict>
		<key>421BAF1E-2495-45A4-AEE4-DC578329BCF3</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>482B4EFB-EE2C-4E08-BAE5-7A4BEB9A91BD</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>482B4EFB-EE2C-4E08-BAE5-7A4BEB9A91BD</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>3994C637-2F31-457D-A4EC-D1CC4CEFE623</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>handlename</string>
	<key>description</key>
	<string>Post content in clipboard to nopaste</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Nopaste</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>np</string>
				<key>subtext</key>
				<string>Post content in clipboard to nopaste.</string>
				<key>text</key>
				<string>Nopaste</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>421BAF1E-2495-45A4-AEE4-DC578329BCF3</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>url=$(echo -n "$ALFRED_VAR_CLIP" | ./workflow)

if [[ $? == 0 ]]; then
	open $url
fi</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>3994C637-2F31-457D-A4EC-D1CC4CEFE623</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>variables</key>
				<dict>
					<key>ALFRED_VAR_CLIP</key>
					<string>{clipboard}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>482B4EFB-EE2C-4E08-BAE5-7A4BEB9A91BD</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>3994C637-2F31-457D-A4EC-D1CC4CEFE623</key>
		<dict>
			<key>xpos</key>
			<integer>460</integer>
			<key>ypos</key>
			<integer>80</integer>
		</dict>
		<key>421BAF1E-2495-45A4-AEE4-DC578329BCF3</key>
		<dict>
			<key>xpos</key>
			<integer>110</integer>
			<key>ypos</key>
			<integer>80</integer>
		</dict>
		<key>482B4EFB-EE2C-4E08-BAE5-7A4BEB9A91BD</key>
		<dict>
			<key>xpos</key>
			<integer>330</integer>
			<key>ypos</key>
			<integer>110</integer>
		</dict>
	</dict>
	<key>variables</key>
	<dict>
		<key>NOPASTE_ENDPOINT</key>
		<string>https://project.kayac.com/np</string>
		<key>NOPASTE_PASSWORD</key>
		<string>52fQmqaC</string>
		<key>NOPASTE_USER</key>
		<string>nagata-hiroaki</string>
	</dict>
	<key>variablesdontexport</key>
	<array>
		<string>NOPASTE_PASSWORD</string>
		<string>NOPASTE_ENDPOINT</string>
		<string>NOPASTE_USER</string>
	</array>
	<key>version</key>
	<string></string>
	<key>webaddress</key>
	<string></string>
</dict>
</plist>
